html, body {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: black;
}

code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    size: 0.9rem;
}

.hidden {
    display: none;
}

